:root {
  --small-margin-side: 16px;
  --max-width: 800px;

  --blue-dark:      #000c40;
  --blue-d1:        #002366;
  --blue-light:     #0044cc;
  --gold:           #a0d8ff;
  --mn-shape:       polygon(15px 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 15px 100%, 0 50%);
}

body {
  font-family:  Verdana, Helvetica, Arial, sans-serif;
  font-size:    18px;
  background: radial-gradient(circle at center, var(--blue-light) 0%, var(--blue-d1) 40%, var(--blue-dark) 100%) no-repeat fixed;
  background-size: cover;
  color: white;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  text-align: center;
  padding-top: 100px;
}

.page-content {
  margin:             0 auto;
  max-width:          var(--max-width);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
  font-size:          smaller;
  padding:            16px;
}
.footer-content {
  margin:             auto;
  max-width:          var(--max-width);
}

.content {
  padding:          16px;
}

.mt-2 {
  margin-top: 8px;
}
.mt-5 {
  margin-top: 20px;
}

.m-wrapper {
  display: inline-block;
  padding: 3px;
  background: var(--gold);
  clip-path: var(--mn-shape);
  box-sizing: border-box;
  position: relative;
  width: 80%;
}

.m-inner, .m-btn {
  display: block;
  padding: 10px 40px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(#002366, #000c40); /* dark blue gradient */
  border: none;
  width: 100%;
  clip-path: var(--mn-shape);
  box-sizing: border-box;
  text-decoration: none;
  &.left {
    text-align: left;
  }
  &.correct, &.correct:hover
  {
    background: linear-gradient(#1eb31e, #006600);
    color: #fff;
  }
  &.incorrect, &.incorrect:hover
  {
    background: linear-gradient(#cc0000, #660000);
    color: #fff;
  }
}
.q-ind {
  color: yellow;
  margin-left: -12px;
  margin-right: 8px;
}

.m-btn:hover {
  background: linear-gradient(#0033aa, #000c40);
  filter: brightness(1.2);
}

.m-btn:active {
  transform: scale(0.97);
  filter: brightness(0.9);
}



.m-outer {
  position: relative;
  display: inline-block;
  width: 100%;
  &.hidden{
    visibility: hidden;
  }
  &.visible {
    visibility: visible !important;
  }
}

/* Horizontal lines */
.m-outer::before,
.m-outer::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  height: 2px;
  background: #a0d8ff;
}
.m-outer::before {
  left: calc(-999px + 10%);
  width: 1000px;
}

/* Right line */
.m-outer::after {
  right: calc(-998px + 10%);
  width: 1000px;
}