<div class="footer">
    <div class="footer-content">
        <p>2025 &#169; {{#lang "uk"}}Павло Ліссов{{else}}Pavlo Lissov{{/lang}}</p>
        <p>{{#lang "uk"}}Контакт{{else}}Contact{{/lang}}: <a href="mailto: admin@lissov.net?subject=MotoWien">{{#lang "uk"}}Надіслати листа{{else}}send e-mail{{/lang}}</a></p>  
    </div>
</div>
