{{> header}}
<div class="m-outer">
  <div class="m-wrapper">
    <span class="m-inner">{{#lang 'en'}}Select a quiz!{{else}}Вибери тему{{/lang}}</span>
  </div>
</div>

<div class="mt-5"></div>
{{#lang 'en'}}
{{#each global.quizes}}
  <br/>
  {{>button text=this.name href=(concat "quiz_" this.id ".html")}}
{{/each}}
{{else}}
{{#each global.quizes}}
  <br/>
  {{>button text=this.nameUk href=(concat "quiz_" this.id ".html")}}
{{/each}}
{{/lang}}
{{> footer}}
